.my-account,
.my-account * {
  box-sizing: border-box;
}
.my-account {
  background: #ffffff;
  border-style: solid;
  border-color: #8dd781;
  border-width: 1px;
  width: 1440px;
  height: 1008px;
  position: relative;
  overflow: hidden;
}
.my-account2 {
  color: #000000;
  text-align: left;
  font: 400 64px "Inter-Regular", sans-serif;
  text-decoration: underline;
  position: absolute;
  left: 75px;
  top: 148px;
  width: 376px;
  height: 82px;
}
.grey-triangle-1 {
  width: 51px;
  height: 63px;
  position: absolute;
  left: 24px;
  top: 15px;
}
.menu-bar {
  position: absolute;
  inset: 0;
}
.rectangle-9 {
  background: #d9d9d9;
  border-radius: 5px;
  border-style: solid;
  border-color: #8dd781;
  border-width: 1px;
  width: 39px;
  height: 13px;
  position: absolute;
  left: 1380px;
  top: 23px;
}
.rectangle-10 {
  background: #d9d9d9;
  border-radius: 5px;
  border-style: solid;
  border-color: #8dd781;
  border-width: 1px;
  width: 39px;
  height: 13px;
  position: absolute;
  left: 1380px;
  top: 40px;
}
.rectangle-11 {
  background: #d9d9d9;
  border-radius: 5px;
  border-style: solid;
  border-color: #8dd781;
  border-width: 1px;
  width: 39px;
  height: 13px;
  position: absolute;
  left: 1380px;
  top: 56px;
}
.frame-7 {
  border-radius: 5px;
  border-style: solid;
  border-color: #8dd781;
  border-width: 5px;
  width: 850px;
  height: 460px;
  position: absolute;
  left: 297px;
  top: 322px;
  overflow: hidden;
}
.account-div {
  width: 426px;
  height: 354px;
  position: absolute;
  left: 212px;
  top: 53px;
}
.num-outfits-div {
  width: 544px;
  height: 49px;
  position: absolute;
  left: 0px;
  top: 305px;
}
.number-of-outfits {
  color: #000000;
  text-align: left;
  font: 400 20px "Inter-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 15px;
  width: 214px;
  height: 34px;
}
.number {
  color: #000000;
  text-align: left;
  font: 400 20px "Inter-Regular", sans-serif;
  position: absolute;
  left: 330px;
  top: 17px;
  width: 214px;
  height: 34px;
}
.password-div {
  width: 544px;
  height: 36px;
  position: absolute;
  left: 0px;
  top: 159px;
}
.password {
  color: #000000;
  text-align: left;
  font: 400 20px "Inter-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 2px;
  width: 124px;
  height: 34px;
}
. {
  color: #000000;
  text-align: left;
  font: 400 20px "Inter-Regular", sans-serif;
  position: absolute;
  left: 330px;
  top: 0px;
  width: 214px;
  height: 34px;
}
.username-div {
  width: 544px;
  height: 53px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.username {
  color: #000000;
  text-align: left;
  font: 400 20px "Inter-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 144px;
  height: 53px;
}
.username2 {
  color: #000000;
  text-align: left;
  font: 400 20px "Inter-Regular", sans-serif;
  position: absolute;
  left: 330px;
  top: 2px;
  width: 214px;
  height: 34px;
}
.frame-6 {
  border-radius: 5px;
  border-style: solid;
  border-color: #8dd781;
  border-width: 5px;
  width: 435px;
  height: 115px;
  position: absolute;
  left: 498px;
  top: 36px;
  overflow: hidden;
}
.style-m-8-logo-1 {
  width: 367px;
  height: 86px;
  position: absolute;
  left: 34px;
  top: 14px;
}
.menu-div {
  width: 445px;
  height: 1501px;
  position: absolute;
  left: 995px;
  top: 0px;
}
.rectangle-12 {
  background: #8dd781;
  border-radius: 5px;
  border-style: solid;
  border-color: #d9d9d9;
  border-width: 1px;
  width: 445px;
  height: 1501px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: -10px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.inner-menu {
  width: 357px;
  height: 472px;
  position: absolute;
  left: 10px;
  top: 29px;
}
.menu {
  color: #000000;
  text-align: left;
  font: 400 40px "InriaSans-Regular", sans-serif;
  position: absolute;
  left: 167px;
  top: -1px;
  width: 110px;
  height: 40px;
}
.menu-items {
  width: 322px;
  height: 304px;
  position: absolute;
  left: 35px;
  top: 168px;
}
.find-your-outfit {
  color: #000000;
  text-align: left;
  font: 400 32px "InriaSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 263px;
  height: 41px;
}
.my-closet {
  color: #000000;
  text-align: left;
  font: 400 32px "InriaSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 118px;
  width: 322px;
  height: 41px;
}
.my-account3 {
  color: #000000;
  text-align: left;
  font: 400 32px "InriaSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 59px;
  width: 263px;
  height: 41px;
}
.sign-out {
  color: #ffffff;
  text-align: left;
  font: 400 32px "InriaSans-Regular", sans-serif;
  position: absolute;
  left: 0px;
  top: 263px;
  width: 322px;
  height: 41px;
}
.menu-bar-menu {
  position: absolute;
  inset: 0;
}
.rectangle-92 {
  background: #d9d9d9;
  border-radius: 5px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 39px;
  height: 13px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-102 {
  background: #d9d9d9;
  border-radius: 5px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 39px;
  height: 13px;
  position: absolute;
  left: 0px;
  top: 17px;
}
.rectangle-112 {
  background: #d9d9d9;
  border-radius: 5px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px;
  width: 39px;
  height: 13px;
  position: absolute;
  left: 0px;
  top: 33px;
}
